@import '../../assets/saas/mixins';
@import '../../assets/saas/variables';

.button {
  width: 180px;
  height: 42px;
  background-color: rgba(22, 21, 29, 0.5019607843137255);
  color: $frameColor;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  margin: 10% 0;


  &::before {
    content: url("../../assets/img/glare.png");
    position: absolute;
    bottom: -23px;
    left: -20px;
    transform: rotate(180deg);
  }

  &::after {
    content: url("../../assets/img/glare.png");
    position: absolute;
    top: -22px;
    right: -20px;
  }

  border: 2px solid rgb(38, 62, 102);
  border-image: linear-gradient(to left bottom, rgb(38, 62, 102) 10%, transparent 60%,  transparent 10%, rgb(38, 62, 102) 80%);
  border-image-slice: 1;

  &:hover{
    cursor: pointer;
    border-image: linear-gradient(to left bottom, rgb(38, 62, 102) 20%, transparent 40%,  transparent 10%, rgb(38, 62, 102) 80%);
    border-image-slice: 1;
    transform: scale(1.1);
  }
  &:active{
    background-color: rgba(38, 62, 102, 0.25);
  }
}