@import '../../assets/saas/mixins';
@import '../../assets/saas/variables';


.header{
  width: 100%;
  border-bottom: $frameColor solid 1px;
  position: sticky;
  z-index: 2;
  @include flexStyle(row,center, center);
.container {
  height: 99px;
  width: 80%;
  position: relative;
  @include flexStyle(row,space-between, center);

  .navigation {
    @include flexStyle(row, space-between, center);
    width: 60%;
    max-width: 720px;
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  .navItem {
    display: inline-block;
    height: 32px;
    text-decoration: none;
    margin-left:2px;
    font: 16px/40px, "Museo Sans Cyrl",sans-serif;
    line-height: 22px;
    color: $mainColor;
    &:hover{
      color:  $frameColor;
      border-bottom: 1px solid $frameColor;
    }
    &:active{
      color:  $accentColor;
      border-bottom: 1px solid $accentColor;
    }
  }
}
}